.header__logo {
    width: 142px;
    height: 33.4px;
}

@media screen and (max-width: 620px) {
    .header__logo {
        width: 122px;
        height: 28.7px;
    }
}

@media screen and (max-width: 362px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
    }
}