.form__input { 
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    padding: 0;
    width: 100%;
    border: none;
    outline: none;
}